HuggingFace API Token : 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

In [ ]:
#!pip install -q -U transformers
#!pip install -q -U accelerate
#!pip install -q -U bitsandbytes

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load all train-X.csv files
#train_files = [f"../data/train-{i}.csv" for i in range(1, 9)]
train_files = [f"../data/train-1.csv"]
df_list = [pd.read_csv(file) for file in train_files]
df = pd.concat(df_list, ignore_index=True)

In [3]:
# Schema Overview
print(df.info())

# Summary Stats
print(df.describe())

# Sample Data
print(df.head())

# Unique Values in Categorical Columns (Indexed)
#for col_name in categorical_cols:
#    unique_values = df[col_name + "_index"].unique()
#    print(f"{col_name}_index unique values: {unique_values}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 963 entries, 0 to 962
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      963 non-null    int64
 1   tconst          963 non-null    object
 2   primaryTitle    963 non-null    object
 3   originalTitle   457 non-null    object
 4   startYear       963 non-null    object
 5   endYear         963 non-null    object
 6   runtimeMinutes  963 non-null    object
 7   numVotes        874 non-null    float64
 8   label           963 non-null    bool
dtypes: bool(1), float64(1), int64(1), object(6)
memory usage: 61.3+ KB
None
        Unnamed: 0      numVotes
count   963.000000  8.740000e+02
mean   5055.155763  3.136251e+04
std    2938.998014  1.083921e+05
min       4.000000  1.001000e+03
25%    2428.500000  1.742000e+03
50%    5054.000000  3.658000e+03
75%    7657.500000  1.142950e+04
max    9994.000000  1.180579e+06
   Unnamed: 0     tconst              primaryTitle             originalTitle  \
0           4  tt0010600                  The Doll                 Die Puppe
1           7  tt0011841             Way Down East             Way Down East
2           9  tt0012494                   Déstiny              Der müde Tod
3          25  tt0015163             The Navigator             The Navigator
4          38  tt0016220  The Phantom of the Opera  The Phantom of the Opera

  startYear endYear runtimeMinutes  numVotes  label
0      1919      \N             66    1898.0   True
1      1920      \N            145    5376.0   True
2      1921      \N             97    5842.0   True
3      1924      \N             59    9652.0   True
4      1925      \N             93   17887.0   True

In [4]:
df.head(10)

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True
5,42,tt0016630,Báttling Bútlér,Battling Butler,1926,\N,77,3285.0,True
6,81,tt0021015,Juno and the Paycock,NaN,1929,\N,85,2275.0,False
7,118,tt0023973,Thé Éáglé ánd thé Háwk,NaN,1933,\N,73,NaN,True
8,119,tt0023986,Émplớyéés' Éntráncé,NaN,1933,\N,75,NaN,True
9,123,tt0024184,The Invisible Man,The Invisible Man,1933,\N,71,33562.0,True

In [5]:
missing_values_count = df.isnull().sum()
print(missing_values_count)

Unnamed: 0          0
tconst              0
primaryTitle        0
originalTitle     506
startYear           0
endYear             0
runtimeMinutes      0
numVotes           89
label               0
dtype: int64

In [6]:
from huggingface_hub import login

login(token="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")

In [7]:
from transformers import AutoTokenizer, AutoModelForCausalLM, pipeline

# Load model and tokenizer
model_name = "distilgpt2"  # Replace with the correct model name if different
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForCausalLM.from_pretrained(model_name)

In [ ]:
import unicodedata
import re

# Step 1: Remove diacritics
def remove_diacritics(text):
    return ''.join(
        c for c in unicodedata.normalize('NFKD', text)
        if not unicodedata.combining(c)
    )

# Step 2: Standardize text
def standardize_text(text):
    text = re.sub(r'\s+', ' ', text)  # Replace multiple spaces with a single space
    text = text.strip()  # Remove leading/trailing spaces
    return text.lower()  # Convert to lowercase

In [15]:
import torch

In [2]:
# Step 3: Distill GPT for edge case normalisation
def normalize_with_llm(text):
    model_name = "distilgpt2"  # Replace with the correct model name if different
    tokenizer = AutoTokenizer.from_pretrained(model_name)
    model = AutoModelForCausalLM.from_pretrained(model_name)
     
    # Prepare the prompt
    prompt = f"Normalize the following title by removing diacritics and converting it to lowercase: '{text}'\nNormalized title:"
    
    # Tokenize the input
    inputs = tokenizer(prompt, return_tensors="pt")
    
    # Generate the output
    outputs = model.generate(**inputs, max_new_tokens=50)
    
    # Decode the output
    normalized_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
    
    # Extract the normalized text (remove the prompt)
    normalized_text = normalized_text.replace(prompt, "").strip()
    
    return normalized_text

In [25]:
#example
title = "Sáps át Séá"
normalized_title = remove_diacritics(title)
print(normalized_title)

Saps at Sea

In [26]:
normalized_title = standardize_text(normalized_title)
print(normalized_title)

saps at sea

In [ ]:
title = "Sáps át Séá"
normalized_title = normalize_with_llm(title)
print(normalized_title)

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

'Sáps át Séá'
Normalized title: 'Sáps át Séá'
Normalized title: 'Sáps át Séá'
Normalized title: 'S

In [8]:
#Utilize LLM for missing categorical value imputation
from transformers import pipeline

# Load your local LLM (replace 'your-model' with your model name)
llm = pipeline('text-generation', model='distilgpt2')

# Extract rows where 'originalTitle' is missing
missing_indices = df['originalTitle'].isnull()
missing_titles = df.loc[missing_indices, 'primaryTitle']

Device set to use cpu

In [9]:
# Function to generate missing titles
def generate_original_title(primary_title):
    prompt = f"Primary Title: {primary_title}"
    generated_text = llm(prompt, max_length=50)[0]['generated_text']
    return generated_text.strip()

In [ ]:
# Generate titles only for missing rows
df.loc[missing_indices, 'originalTitle'] = missing_titles.apply(generate_original_title)

print(df)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.